<div class="metrics">
  {{#notequal @key 'default'}}
    <h3>{{@key}}</h3>
  {{/notequal}}
  <table>
    <thead>
      <tr>
        {{#if this.[0].name}}
          <th>Name</th>
        {{/if}}
        {{#each this.[0].data}}
          <th>{{name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        <tr>
          {{#if name}}
            <td>{{name}}</td>
          {{/if}}
          {{#each data}}
            <td>{{{value}}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>