<html>
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#each cssFiles}}
    <link rel="stylesheet" href="{{this}}"/>
  {{/each}}
  {{#if favicon}}
    <link rel="apple-touch-icon-precomposed" href="{{favicon}}">
    <link rel="icon" href="{{favicon}}">
  {{/if}}
</head>
<body class="dashboards">
  <h1>Dashboards</h1>
  {{#if dashboards}}
    <ul>
      {{#each dashboards}}
        <li><a href="{{../path}}/{{slug}}">{{name}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</body>
</html>
