<html>
<head>
  <title>{{dashboard.name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#each options.cssFiles}}
    <link rel="stylesheet" href="{{this}}"/>
  {{/each}}
  {{#if options.favicon}}
    <link rel="apple-touch-icon-precomposed" href="{{options.favicon}}">
    <link rel="icon" href="{{options.favicon}}">
  {{/if}}
</head>
<body class="dashboard">
  <h1>{{dashboard.name}}</h1>
  <a class="view-all" href="{{options.endpoint}}">View All Dashboards</a>
  {{#with metrics}}
    {{> table}}
  {{/with}}

  {{#each options.jsFiles}}
    <script src="{{this}}"></script>
  {{/each}}
</body>
</html>
